/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 nov 2025, 16:24:49
    Author     : Clase
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f7f5f5;
    align-items: center;
}

.formulario h1{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

@media(max-width: 480px){
    .formulario{
        max-width: 100%;
        padding: 15px;
    }
    
    .formulario{
        font-size: 14px;
        padding: 10px;
    }
}

#nombre, #pass{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    background-color: #FCF8CC;
}

button{
    margin-top: 20px;
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}